body {
  background: #fafafa;
  display: grid;
  place-items: center;
  width: 100%;
  min-width: 780px;
  height: 100vh;
  margin: 0;
}

:root {
  --colour-one: #dcdcdc;
  --colour-two: #d3d3d3;
}

table {
  border-collapse: collapse;
}

td {
  height: 15px;
  width: 15px;
}

tr:nth-of-type(odd) > td:nth-of-type(odd),
tr:nth-of-type(even) > td:nth-of-type(even) {
  background: var(--colour-one);
}

tr:nth-of-type(odd) > td:nth-of-type(even),
tr:nth-of-type(even) > td:nth-of-type(odd) {
  background: var(--colour-two);
}

.snake {
  background: red !important;
}

.food {
  background: green !important;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.game-over {
  position: fixed;
  flex-direction: column;
  top: 43%;
  left: 44%;
  font-family: sans-serif;
}

.score-text {
  font-family: sans-serif;
  margin: 0;
}
